.task {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  margin: 0.2rem 1rem;
  padding: 1.1rem;
  border-radius: 8px;
  font-weight: 500;
}

.task-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-icons {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  min-width: 3.5rem;
  justify-content: space-between;
}

.task > p {
  font-size: 0.75rem;
  text-align: left;
  font-weight: 600;
}

.reminder {
  border-left: 10px solid lightgreen;
}

@media (max-width: 400px) {
  .task {
    padding: 0.7rem 1.1rem;
  }

  .task > p {
    font-size: 0.7rem;
    font-weight: 530;
  }
  .task-title > h3 {
    font-size: 0.9rem;
  }
  .task-icons {
    font-size: 1rem;
    min-width: 2.3rem;
  }
}
